.jumboTron {
position: relative;
width: 100%;
height: 30em;
display: block;
background: url('https://static.pexels.com/photos/132037/pexels-photo-132037.jpeg') no-repeat;
background-size: cover;
}

.tronText {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 2em;
  font-size: 3em;
  color: white;
}
.tronTagline {
	position: absolute;
	display: inline-block;
	bottom: 0px;
	color: white;
	left: 6.5em;
	bottom: 2em;
}