/*navBar*/
/*mobile*/
@media only screen and (max-width: 814px){
	nav .text {
		display: none;
	}
	.navButton {
		padding: 0 0.5em;
	}
}
/*end mobile*/
/*desktop only*/
@media only screen and (min-width: 815px) {
	.navButton {
		padding: 0 1em;
	}
	nav .fa {
		display: none;
	}
}
/* end Desktop */
nav {
	width: 100%;
	font-family: serif;
	font-weight: 600px;
	border-bottom: 1px solid #5b5b5b;
	position: fixed;
	top: 0;
	background-color: #f4f4f4;
	z-index: 1000;
	padding: 0;
	font-size: 1.5em;
}

nav a {
	color: #5b5b5b;
	text-decoration: none;
}

.navLeft {
	position: fixed;
	left: 0;
}
.navRight {
	text-align: right;
}
.navButton {
	display: inline-block;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.navButton:hover {
	border-bottom: 2px solid #49274a;
	background-color: #e4e4e4;
	transition: .5s;
}
/* end navBar*/