nav {
	width: 100%;
	font-family: sans-serif;
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	padding: 0;
	font-size: 1.5em;
}

nav a {
	text-decoration: none;
	color: #5b5b5b;
	padding: 1%;
}

nav .navLeft img {
	width: 25%;
	padding: 3%;
	position: fixed;
	left: 0;
}

nav .navRight {
	padding: 3% 10% 5% 5%;
	text-align: right;
}

nav .active {
	color: red;
}

nav a:hover {
	color: red;
}

.navClear {
	width: 100%;
	height: 6em;
}

@media only screen and (max-width: 720px) {
	nav .navLeft img {
		width: 70%;
		padding-left: 15%;
		display: inline-block;
	}
	nav .navRight {
		text-align: center;
		padding: 0;
		padding-top: 15%;
		margin: 0;
	}
}